hr {
    width: 98%;
    margin-left: 0;
    margin-right: 10px;
    opacity: 0.5;
}

.card {
    width: 50%;
    margin: auto;
    margin-top: auto;
    padding: 0px;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;
}
.card .card-header {
   background-color: rgb(171, 0, 0);
   text-align: center;
   padding: 15px 10px;
   border-radius: 10px;
   color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: larger;
}

.card ul {
    padding: 15px 10px;
    list-style: none;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;

}

.card ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10Px;
}

.card ul li:nth-child(odd) {
   background-color: #F4F8FC;
}

.input-field  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field input {
    padding: 10px;
    margin-top: 10px;
    width: 50%;
}

.input-field button {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    margin-left: 3px;
    border: 1px rgb(104, 104, 242) solid;
    transition: all .5s;
}

.input-field button:hover {
    background-color: rgb(104, 104, 242);
    color:  white;
    cursor: pointer;
}

.card-items ul li input {
    float: right;
}

.card-items ul li button {
    float: right;
    border: 1px solid orange;
    background-color: #ffff;
    color: orange;
    transition: all .5s;
    border-radius: 5px;
    margin-right: 5px;
}

.card-items ul li button:hover {
    background-color: orange;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.card-items ul li span {
   float: right;
   max-width: fit-content;
}

.showAllField {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.showAllField button {
    color: rgb(158, 2, 2);;
    float: right;
    margin-right: 50%;
    margin-bottom: 8px;
    background-color: #ffff;
    border: 1px solid rgb(158, 2, 2);
    border-radius: 8px;
    transition: all .5s;
    padding: 5px 10px;
    cursor: pointer;
}

.showAllField button:hover {
    background-color: rgb(158, 2, 2);
    color: white;
}