<div class="card">
  <div class="card-header">L</div>
  <div class="input-field">
    <input type="text" #newtodo>
    <button type="button" (click) = "addItem(newtodo);">Add</button>
  </div>
  <div class="showAllField">
    <label for="showAll">Show/Hide</label>
    <input type="checkbox" name="showAll" (click) = 'displayAllHandler()'>
    <button type="button" (click) = "clearAllInputs();">Clear</button>
    <hr>
    <p id="doneInfo" style="text-align: center;">{{doneCounter}} items has been done</p>

  </div>
 
  <div class="card-items">
    <ul>
     <li *ngFor="let item of getItems()"  #item>
        {{item.description}} <span>{{item.date}}</span>
        <input type="checkbox" (click) = 'itemDone(item)'>
        <button type="button" (click) = "deleteItem(item)">Delete</button>
     </li>
    </ul>
  </div>
</div>