<navbar-component></navbar-component>
<form #saveForm = "ngForm" (ngSubmit) = "saveEmployee(saveForm.value); saveForm.reset()">
    <label for="name">Name</label>
    <input required type="text" name="name" ngModel>
    <label for="surname">Surname</label>
    <input type="text" name="surname" ngModel required>
    <label for="salary">Salary</label>
    <input type="number" step="500" min="0" name="salary" ngModel required>
    <button type="submit">Add</button>
    <span *ngIf="newItemAdded;" style="text-align: center; color:rgb(85, 165, 42); padding: 7px;">Success</span>
    <span *ngIf="newItemFailed" style="text-align: center; color:brown; padding: 7px;">Salary must be acceptable(>0)</span>
</form>