form h2 {
    text-align: center;
}
form h2 span {
    color: rgb(154, 153, 153);
}
.updateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 10px solid rgba(255, 188, 64, 0.513);
    padding: 15px;
    border-radius:18px; 
}

.updateForm input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}


#updateFormBtn {
   padding: 10px 20px;
   text-align: center;
   background-color: #ffff;
   border: 1px solid rgb(163, 163, 217);
   border-radius: 8px;
   transition: all .6s;
}
#updateFormBtn:hover {
    background-color: rgb(126, 126, 244);
    color: white;
    cursor: pointer;
}

#backBtn {
    margin-left: 10px;
    padding: 10px 25px;
    text-align: center;
    background-color: white;
    border: 1px solid orange;
    border-radius: 8px;
    transition: all .6s;
}
#backBtn:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

.input-errors {
    color: rgb(178, 13, 13);
}