<navbar-component></navbar-component>

<div class="updateForm" id = 'updateForm'>
    <form
      #updateForm="ngForm"
      (ngSubmit)="handleSubmit(updateForm.value); updateForm.reset()"
    >
      <h2>
        <span *ngIf="updateClicked">{{
          updatedEmployee.name + " " + updatedEmployee.surname + " "
        }}</span
        ><span *ngIf="updateClicked">Details</span> 
        <span *ngIf="addClicked">Add New Employee</span>
      </h2>
      <div *ngIf="updateClicked">
        <label for="id">ID</label>
        <input
          type="text"
          name="id"
          placeholder="{{ updatedEmployee.id }}"
          disabled
      />
      </div>
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        ngModel
        placeholder="{{ updatedEmployee.name }}"
      />
      <p class="input-errors" *ngIf="nameError">Invalid Name</p>
      <label for="surname">Surname</label>
      <input
        type="text"
        name="surname"
        ngModel
        placeholder="{{ updatedEmployee.surname }}"
      />
      <p class="input-errors" *ngIf="surnameError">Invalid Surname</p>
      <label for="salary">Salary(TRY)</label>
      <input
        type="number"
        name="salary"
        ngModel
        placeholder="{{ updatedEmployee.salary }}"
      />
      <div *ngIf="updateClicked">
        <label for="salary-usd">Salary(USD)</label>
        <input
          type="number"
          name="salary-usd"
          ngModel
          placeholder="{{ updatedEmployee.salaryUsd }}"
          disabled
        />
      </div>

      <p class="input-errors" *ngIf="salaryError">Invalid Salary</p>
      <button type="submit" id="updateFormBtn">
        <span *ngIf="updateClicked">Update</span>
        <span *ngIf="addClicked">Create</span>
      </button>
      <span *ngIf="newItemAdded;" style="text-align: center; color:rgb(85, 165, 42); padding: 7px;">Success</span>
      <span *ngIf="newItemFailed" style="text-align: center; color:brown; padding: 7px;">Salary must be acceptable(>0)</span>
      <button type="button" id="backBtn" (click)="routeBack()">Back</button>
    </form>
  </div>
  

