<navbar-component></navbar-component>
<div class="emp-list-wrapper">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Salary(TRY)</th>
      <th>Salary(USD)</th>
      <th></th>
    </tr>
    <!-- ngFor ile employeesList 'teki her bir item için row yaratıldı , ilgili datalar hücrelere printlendi -->
    <tr *ngFor="let employee of employeesList">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.salaryUsd}}</td>
      <td>
        <button type="button" (click)="deleteEmployee(employee.id)">
          Delete
        </button>
        <button type="button" (click)="setUpdateActive(employee)" id="updateBtn">
          Update
        </button>
      </td>
    </tr>
  </table>
</div>

