<navbar-component></navbar-component>
<div class="emp-list-wrapper">
  <table>
    <tr>
      <th>Select</th>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Salary(TRY)</th>
      <th>Salary(USD)</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let employee of employeesList">
      <td><input type="checkbox" name="" id="" ngModel (change) = 'handleEmployeeSelect(employee)'></td>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.salaryUsd}}</td>
      <td>
        <button type="button" (click)="deleteEmployee(employee.id)">
          Delete
        </button>
        <button type="button" (click)="setUpdateActive(employee)" id="updateBtn">
          Update
        </button>
      </td>
    </tr>
    <button type="button" id="delete-selecteds" *ngIf="selectedEmployeesList.length > 0" (click) = "deleteSelectedItems()">Delete Selected</button>
  </table>
</div>

