<div class="emp-list-wrapper">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Salary</th>
      <th></th>
    </tr>
    <!-- ngFor ile employeesList 'teki her bir item için row yaratıldı , ilgili datalar hücrelere printlendi -->
    <tr *ngFor="let employee of employeesList">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <button type="button" (click)="deleteEmployee(employee.id)">
          Delete
        </button>
        <button type="button" (click)="setUpdateActive(employee.id)" id="updateBtn">
          Update
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="updateForm" *ngIf="updateActive" >
  <form #updateForm="ngForm" (ngSubmit)="updateEmployee(updateForm.value)">
    <label for="name">Name</label>
    <input type="text" name="name" ngModel />
    <label for="surname">Surname</label>
    <input type="text" name="surname" ngModel />
    <label for="salary">Salary</label>
    <input type="number" name="salary" ngModel />
    <button type="submit" id="updateFormBtn">Update</button>
  </form>
</div>
