
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 10px solid rgb(194, 245, 251);
    padding: 10px;
    border-radius:18px;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

form button {
    padding: 10px;
    background-color: white;
    border: 5px solid rgb(137, 198, 205);
}
form button:hover {
    background-color:rgb(137, 198, 205);
    color: white;
}